.welcome{
    font-family: Arial, sans-serif;
    color:green;
    background-color: yellow;
    font-size: 2em;
    padding: 10px;
    border:12px solid hsla(0, 76%, 48%, 0.8);
    border-radius: 10px;
}

.nolog{
    font-family: Arial, sans-serif;
    color:white;
    background-color: red;
    font-size: 2em;
    padding: 10px;
    border:12px solid hsla(54, 100%, 50%, 0.8);
    border-radius: 10px;
}
